{% load static %}
<link rel="stylesheet" href="{% static 'notes/style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<div class="container">
    <header class="custom-header">
        <a class="custom-a-link" href="{% url 'notes:index' %}" style="text-align: center">
            <h1>Notes</h1>
        </a>
        <div class="d-flex justify-content-end">
            <a href="{% url 'notes:index_archived' status='archived' %}" style="text-align: center">
                <h3>Archived notes</h3>
            </a>
        </div>
    </header>
    {% block 'content' %}
    {% endblock %}
</div>