{% extends 'notes/base.html' %}
{% block title %}Create note{% endblock %}
{% block 'content' %}
<form action="{% url 'notes:note-create' %}" method="post">
    {% csrf_token %}
    <fieldset class="custom-fieldset">
        <legend class="custom-legend p-2"><h2>Create</h2></legend>
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        <div class="fieldWrapper mb-3">
            {{ form.title.as_field_group }}
        </div>
        <div class="form-group mb-3">
            {{ form.description.as_field_group }}
        </div>

        <input type="submit" value="Create">
    </fieldset>
</form>
{% endblock %}