{% extends 'notes/base.html' %}
{% block 'content' %}
<form action="{% url 'notes:note-update' note.id %}" method="post">
    {% csrf_token %}
    <fieldset class="custom-fieldset">
        <legend class="custom-legend p-2"><h2>Detail</h2></legend>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title" value="{{ note.title }}" class="w-100"><br><br>
        <label for="description">Description</label><br>
        <textarea name="description" id="description" cols="100" rows="15" class="w-100">{{ note.description }}</textarea><br><br>
        <input type="submit" value="Update">
    </fieldset>
</form>
<h5>Last modified at: {{ note.last_modified_date }}</h5>
<h5>Created at: {{ note.create_date }}</h5>
{% endblock %}