{% extends 'notes/base.html' %}
{% block title %}
    {% if 'archived' in request.path %}
        Archived notes
    {% else %}
        Notes
    {% endif %}
{% endblock %}
{% block 'content' %}
    <main>
        <div class="my-3">
            {% if 'archived' in request.path %}
                <form action="{% url 'notes:index_archived' status='archived' %}" method="get">
            {% else %}
                <form action="{% url 'notes:index' %}" method="get">
            {% endif %}
                <div class="d-flex gap-2">
                    <input class="form-control" type="search" name="search_input" value="{{ search_input }}">
                    <input class="" type="submit" value="Search">
                </div>
            </form>
        </div>
        {% if notes %}
            <div class="list-notes">
                {% for note in notes %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="custom-a-link stretched-link" href="{% url 'notes:note-update' note.id %}">{{ note.title }}</a>
                            </h5>
                            <p class="card-note-description">{{ note.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No notes to show</p>
        {% endif %}
    </main>
{% endblock %}


